$default-opacity: 1;

$color-black: rgba(19, 19, 21, $default-opacity);
$color-red: rgba(255, 78, 107, $default-opacity);
$color-text: rgba(255, 250, 251, $default-opacity);
$color-green: rgba(0, 204, 102, $default-opacity);
$color-yellow: rgba(255, 187, 51, $default-opacity);
$color-blue: rgba(77, 180, 255, $default-opacity);
$color-gray: rgba(121, 121, 121, $default-opacity);
