.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 2.75rem;
    border-bottom: 0.0625rem solid rgba-with-opacity($color-red, 0.16);

    &__nav-links {
        display: flex;
        align-items: flex-start;
        gap: 5rem;

        &__link {
            color: $color-text;
            font-family: Lexend, sans-serif;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 200;
            line-height: 1.25rem;
            text-decoration: none;
            height: 2.75rem;

            &:hover {
                border-bottom: 0.0625rem solid $color-red;
            }

            .active {
                border-bottom: 0.0625rem solid $color-red;
            }
        }
    }
}
